.adminsidebar-main {
	display: flex;
	height: 100vh;
	font-family: Arial, sans-serif;
}

.adminsidebar-sidebar {
	background-color: #14514e;
	color: white;
	width: 350px;
	display: flex;
	flex-direction: column;
}

.adminsidebar-logo-block {
	padding-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	gap: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}

.adminsidebar-logo-image {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	object-fit: cover;
}

.adminsidebar-logo-text {
	font-size: 25px;
	font-weight: bold;
}

.adminsidebar-side-divider {
	border: none;
	height: 1px;
	background-color: #ccc;
	margin: 10px 0;
}

.adminsidebar-side-divider-wrapper {
	padding: 0px 20px;
}

.adminsidebar-panel-title {
	margin-top: 8px;
	font-size: 18px;
	margin-bottom: 30px;
	text-align: center;
	line-height: 1.2;
}

.adminsidebar-user-block {
	padding: 0px 20px;
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
}

.adminsidebar-user-avatar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
}

.adminsidebar-user-name {
	font-size: 16px;
	flex: 1;
	font-weight: bold;
}

.adminsidebar-logout {
	display: flex;
	align-items: center;
	gap: 5px;
	background-color: rgba(255, 0, 0, 0.15);
	border: none;
	color: red;
	padding: 6px 10px;
	border-radius: 8px;
	font-size: 12px;
	cursor: pointer;
}

.adminsidebar-logout-icon {
	width: 14px;
	height: 14px;
	object-fit: contain;
	filter: brightness(0) saturate(100%) invert(22%) sepia(96%) saturate(6531%)
		hue-rotate(354deg) brightness(101%) contrast(106%);
}

.adminsidebar-nav-item {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0;
	margin: 0;
}

.adminsidebar-nav-item-wrapper {
	padding: 0px 26px;
	height: 50px;
	background-color: #14514e;
	cursor: pointer;
	transition: background-color 0.3s;
}

.adminsidebar-nav-item-wrapper.active {
	background-color: #2f6b68;
}

.adminsidebar-nav-icon {
	width: 20px;
	height: 20px;
	object-fit: contain;
	margin-right: 10px;
}

.adminsidebar-nav-text {
	font-size: 16px;
	text-align: left;
	flex: 1;
	padding-right: 25px;
	padding-left: 6px;
	box-sizing: border-box;
}

.adminsidebar-logout:hover {
	background-color: rgba(255, 0, 0, 0.3); /* насыщеннее красный */
	opacity: 0.85; /* чуть прозрачнее */
	transition: all 0.3s ease;
}
